@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========== Tailwind Styles ============ */
@layer base {
    .screen-title {
        @apply text-slate-50 text-4xl font-semibold animate-fade-in;
    }

    .nav__link {
        @apply text-slate-50;
    }

    .nav__link:hover, .nav__link:hover .icon {
        @apply text-slate-600 duration-500;
    }

    .navigation ul li:hover {
        @apply bg-slate-600 text-slate-100;
    }

    .row {
        @apply flex flex-wrap mx-4 dark:bg-gray-600 animate-fade-in;
    }

    .header {
        @apply flex w-full p-6 m-3 rounded-xl bg-blue-600 justify-start items-center border-0 border-red-400;
    }

    .card-default {
        @apply rounded-xl m-3 bg-slate-100 bg-blue-600 dark:bg-gray-600 overflow-hidden animate-fade-in;
    }

    .card-header {
        @apply px-6 py-4 bg-blue-700;
    }

    .card-header-title {
        @apply text-slate-50 dark:text-white text-2xl font-bold
    }

    .card-white {
        @apply rounded-xl m-3 bg-white animate-fade-in items-center justify-center border border-slate-100 p-6;
    }

    .card-title {
        @apply text-slate-600 dark:text-white text-2xl font-bold;
    }

    .card-body {
        @apply text-blue-400 dark:text-gray-300 font-medium mb-4 p-0;
    }

    .btn-default {
        @apply flex items-center px-6 py-3 rounded-lg text-slate-100 font-semibold bg-blue-700 shadow-md;
    }

    .btn-small {
        @apply flex justify-center items-center px-4 py-2 rounded-md text-sm text-slate-100 font-semibold bg-blue-600;
    }

    .btn-default:hover, .btn-small:hover {
        @apply bg-indigo-600 transition;
    }

    .notification {
        @apply sm:hidden;
    }
}


/* =============== Globals ============== */
* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-color: red;
}

:root {

    --white: #fff;
    --black1: #222;
    --black2: #999;
    --accent: #ffc35c;

    --blue600: #2563eb;
    --blue700: #1d4ed8;
    --slate50: #f8fafc;
    --slate100: #f1f5f9;
    --slate800: #1e293b;

    
}
 
body {
    height: 100%;
    /* overflow-y: scroll; */
    overflow-y: scroll;
    /* padding-bottom: 24px; */
    color: var(--slate50);
    overflow-x: hidden;
    /* background-color: #ffc35c; */

    
}


/* ===================== Main ===================== */
.main {
    position: absolute;
    width: calc(100% - 220px);
    left: 220px;
    /* height: 100%; */
    transition: 0.5s;
    /* overflow-y: inherit; */
}

.main.active {
    width: calc(100% - 60px);
    left: 60px;

}

/* =============== Navigation ================ */
.navigation {
    position: fixed;
    width: 220px;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
    /* border: 0 16px solid var(--blue600); */
}

.navigation.active {
    width: 60px;
    /* transition: 0.5s; */
}

.navigation ul {
    position: absolute;
    top: 60;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    margin: 6px 0px 6px 0px;
    /* border-left: 4px solid var(--blue600); */
}

/* .navigation ul li:nth-child(1) {
    display:flex;
    justify-content: center;
    padding: 40px;
    pointer-events: none;
} */

.navigation .logo {
    border: 0px solid red;
    /* padding: 40px; */
    pointer-events: none;
    min-height: 120px;
}

.navigation .logo img {
    min-width: 30px;
    margin: 0 auto;

}

.navigation .logo.active {
    padding: 0px 10px 0px 10px;
}


.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    background: "transparent";
}

.navigation ul li:hover,
.navigation ul li:hover a
{
    color: var(--slate50);
    background: var(--blue700);
    transition: 0.5s;
    /* border-radius: .75em; */
    height: 50px;
}

.navigation ul li:hover .icon {
    color: var(--slate50);
    background: var(--blue700);
    transition: 0.5s;
    /* border-radius: .75em; */
    height: 50px;
}

.navigation ul li .icon {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 65px;
    text-align: center;
    color: var(--slate50);
    margin: 0px 4px 0px 15px;
    background: "transparent";
}

.navigation.active ul li .icon {
    margin: 0px 0px 0px 15px;
    /* transition: 0.5s; */
}
.navigation.active ul li span {
    /* visibility: hidden; */
    color: var(--blue600);
    transition: 0.5s;
}

.navigation ul li .icon ion-icon {
    font-size: 1.75rem;
}

.navigation ul li .title {
    position: relative;

    display: inline-block;
    /* padding: 0 10px; */
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: start;
    white-space: nowrap;
}

.arrowRight.vis {
    display: block;
    transition: 0.5s;
}

.arrowRight.hid {
    display: none;
    transition: 0.5s;
}

.sc {
    border: 0px solid red;
    scrollbar-base-color: red;
    scrollbar-face-color: aqua;
}

.svg-email:hover {
    fill: var(--accent);
    transition: 0.5s;
}
/* ====================== Responsive Design ========================== */
@media (max-width: 768px) {
    .navigation {
        left: -220px;
    }

    .navigation.active {
        width: 60px;
        left: 0;
        border: 0px solid red;
    }

    .main {
        width: calc(100% - 0px);
        left: 0px;
    }

    .main.active {
        left: 60px;
        width: calc(100% - 40px);
    }
}